<section ng-controller="LocationsController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="location.name"></h1>
  </div>
  <div class="pull-right" ng-show="authentication.user._id == location.user._id">
    <a class="btn btn-primary" ui-sref="locations.edit({locationId: location.id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="location.description | date:'mediumDate'"></span>
      by
      <span ng-bind="location.name"></span>
    </em>
  </small>
  <p class="lead" ng-bind="location.name"></p>
</section>
